.about_bg1 {
    background: #ccc url(../images/about_bg1.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
}

.about_bg2 {
    background: #ccc url(../images/about_bg2.jpg) no-repeat;
    background-size: cover;
    background-position: left top;
}

.about_bg3 {
    background: #ccc url(../images/about_bg3.jpg) no-repeat;
    background-size: cover;
}

.about_bg4 {
    background: #ccc url(../images/about_bg4.jpg) no-repeat;
    background-size: cover;
}

.about_text1 {
    font-size: 24px;
    line-height: 42px;
    font-weight: 600;
}

.about_text_right {
    float: right;
    margin: 20% 10% 0 0;
}

.about_text_right>h4 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 28px;
}

.about_text_right>h5 {
    margin: 40px 0 20px 0;
    font-weight: 700;
    font-size: 22px;
}

.about_text_right>p {
    font-weight: 600;
    font-size: 20px;
}

.about_text_left {
    margin: 20% 0 0 5%;
}

.about_text_left>h4 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 28px;
}

.about_text_left>p {
    font-weight: 600;
    font-size: 20px;
}

.about_text_right_2 {
    float: right;
    margin: 20% 10% 0 0;
}

.about_text_right_2>h4 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 28px;
}

.about_text_right_2>h5 {
    margin: 40px 0 20px 0;
    font-weight: 700;
    font-size: 22px;
}

.about_text_right_2>p {
    font-weight: 600;
    font-size: 20px;
}