*,
::before,
::after{
    padding: 0;
    margin: 0;

    /*在移动端的特殊设置*/
    /*清除默认设置/
     */
    -webkit-tap-highlight-color:transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑","sans-serif";/*设备默认字体*/
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
}
input{
    border: none;
    outline: none;
    resize: none;
    /*t特殊的属性的定义，清楚浏览器input自带的样式*/
    -webkit-appearance: none;/*组建默认的样式为空*/
}
.f-le{
    float: left;
}
.f-ri{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear:both;
}
li{
    padding: 0px;
    margin: 0px;
}