.brand_bg1 {
    background: #ccc url(../images/brand_bg1.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
}

.brand_bg2 {
    background: #ccc url(../images/brand_bg2.jpg) no-repeat;
    background-size: cover;
    background-position: left top;
}

.brand_bg3 {
    background: #ccc url(../images/brand_bg3.jpg) no-repeat;
    background-size: cover;

}

.brand_bg4 {
    background: #ccc url(../images/brand_bg4.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.barnd_page_noe_text {
    position: absolute;
    width: 100%;
    top: 36%;
    text-align: center;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: left;
}

.barnd_page_noe_text h1 {
    font-weight: bold;
    margin-bottom: 70px;
    font-size: 28px;
}

.barnd_page_noe_text h3 {
    font-weight: bold;
    margin-top: 60px;
    text-align: right;
}

.barnd_page4 {
    width: 760px;
    margin: 0 auto;
}

.barnd_page4>p {
    font-weight: bold;
    font-size: 18px;
}

.brand_bg1_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    /*overflow: hidden;*/
}

.brand_page1 {
    text-align: left;
}

.brand_page1_img1 {}

.brand_page1_two {
    margin-top: 120px;
    display: inline-block;
    text-align: left;
}

.brand_page2_row1 {
    display: inline-block;
    padding: 5px;
    background-color: rgba(255, 255, 255, .3)
}

.brand_page2_row1>h3 {
    font-weight: bold;
    font-size: 22px;
}

.brand_page2_row1 ul {
    margin-top: 5%;
    text-align: left;
}

.brand_page2_row1 ul li {
    display: inline-block;
    text-align: center;
    width: 120px;
}

.brand_page2_row1 ul li p {
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}

.brand_page2_row2 {
    margin-top: 50px;
}

.brand_page2_row2>h3 {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 22px;
}

.brand_page2_text1>img {
    display: block;
    margin-bottom: 20px;
}

.brand_page2_text1>p {
    font-weight: bold;
    font-size: 16px;
}

.brand_page1_two>p {
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
}

.brand_page1_two>img {
    display: block;
    margin-bottom: 30px;
}

.brand_page1_left {
    height: 240px;
    position: relative;
}

.brand_page1_left>img {
    position: absolute;
    right: 70px;
    bottom: 0;
}

.brand_page3_bg {
    margin: 20px 0;
}

.brand_page3_bg>h4 {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 141px;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.brand_page3>p {
    font-weight: bold;
}

.brand_page3>ul>li {
    display: inline-block;
    font-weight: bold;
    margin: 0 20px;
    font-size: 16px;
}

.brand_page3>ul>li>span {
    font-size: 24px;
    padding-right: 10px;
}

.brand_page3_phone {
    position: relative;
    width: 380px;
    height: 500px;
    left: -35%;
}



.barnd_footer {

    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 50px 0;
}