.contact_bg {
    background-image: url(../images/contact_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.contact_form {
    width: 45%;
    background-color: rgba(255, 255, 255, .3);
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px;
    border-radius: 10px;
    transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%);
    -webkit-transform: translate(-50%, -45%);
    -o-transform: translate(-50%, -45%);
    overflow: hidden;
}

.contact_form h1 {
    text-align: center;
    color: #333;
    letter-spacing: 0px;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}

.contact_form p {
    margin: 0;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.contact_form input {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}

.contact_form textarea {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}

.contact_form button {
    display: inline-block;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #c1272d;
    color: #fff;
    border: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    outline: none;
}

.contact_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
}