.container {
    padding: 0;
}

.header {
    height: 80px;
    background-color: rgba(255, 255, 255, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    color: #333;
    line-height: 80px;
}

.navbar-default {
    /*background-color: #f8f8f8;*/
    border-color: transparent;
}

.header_logo {
    text-align: left;
    height: 100%;
}

.header_logo>a {
    display: block;
    height: 100%;
    box-sizing: border-box;
    padding: 21px 0;
}

.header_logo>a>img {
    display: block;
    height: 100%;
    position: relative;
    top: -10px;
}

.header_btn_groups {
    text-align: right;
    height: 100%;
}

.header_btn_groups>a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    line-height: 78px;
    padding: 0 5px;
    /*border-radius: 5px;*/
    margin: 0 15px;
}

.header_btn_groups>a:hover {
    /*background-color: #333;*/
    color: #c1272d;
    border-bottom: 2px solid #c1272d;
}

.header_btn_groups>a.open {
    /*background-color: #333;*/
    color: #c1272d;
    border-bottom: 2px solid #c1272d;
}

.btn-default {
    /*color: #333;*/
    /*background-color: #fff;*/
    border-color: #c1272d;
}

.dropdown_login {
    display: inline-block;
    position: relative;
    margin-left: 50px;
    top: -3px;
}

.btn_ownself {
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    padding: 0 10px;
    color: #c1272d;
    width: 110px;
    background-color: transparent;
}

.dropdown_signup {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    top: -3px;
}

.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #c1272d;
    border-color: #c1272d;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
    background-color: #c1272d;
    border-color: #c1272d;
    text-decoration: none;
}

.home_page_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
}

.page_noe {
    position: relative;
    height: 100%;
    width: 100%;
}

/*.page_noe.page_bg {*/
    /*background: #ccc url(../images/page_one.png) no-repeat;*/
    /*background-size: cover;*/
/*}*/

.page_noe_text {
    position: absolute;
    width: 100%;
    top: 55%;
    text-align: center;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.page_noe_text img {
    display: inline-block;
    /*width: 70%;*/
}

.page_noe_text_btn {
    margin-top: 30px;
}

.btn_ownself_page1 {
    height: 50px;
    width: 160px;
    font-size: 26px;
    line-height: 50px;
    padding: 0;
    color: #fff;
    background-color: #c1272d;
    margin: 15px;
    border: 1px solid #c1272d;
}

.btn_ownself_page1.focus,
.btn_ownself_page1:focus,
.btn_ownself_page1:hover {
    color: #c1272d;
    background-color: transparent;
    border-color: #c1272d;
    text-decoration: none;
}

.btn_ownself_page2 {
    height: 50px;
    width: 220px;
    font-size: 26px;
    line-height: 50px;
    padding: 0;
    color: #fff;
    background-color: #333;
    margin: 15px;
    border: 1px solid #333;
}

.btn_ownself_page2.focus,
.btn_ownself_page2:focus,
.btn_ownself_page2:hover {
    color: #333;
    background-color: transparent;
    border-color: #333;
    text-decoration: none;
}

.footer {
    /*display: none;*/
    background-color: rgba(255, 255, 255,);
    boder-color: transparent;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-weight: 700;
    background-color: #333;
    position: absolute;
}

.footer_text {
    color: #fff;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.position {
    position: relative;
}

.partner_with_img {}

.footer_row1 {
    margin-bottom: 20px;
}

.footer_row1>a {
    color: #999;
    display: inline-block;
    margin: 0 20px;
    font-weight: 700;
}

.footer_row1>span {
    color: #999;
    display: inline-block;
    margin: 0 20px;
    font-weight: 700;
}

.footer_row2 {
    margin-bottom: 20px;
    position: relative;
}

.footer_row2>a {
    display: inline-block;
    margin: 0 10px;
    font-weight: 700;
}

.weichat {
    /*display: none;*/
    position: absolute;
    bottom: 0;
    opacity: 0;
    width: 100px;
}

#weichat:hover+.weichat {
    opacity: 1;
    -moz-transition: ease-out 1s;
    -o-transition: ease-out 1s;
    -webkit-transition: ease-out 1s;
    transition: ease-out 1s;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border: 1px solid #c1272d;
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover {
    color: #c1272d;
}