.influ_bg {
    background: #ccc url(../images/influ_bg.jpg) no-repeat;
    background-size: cover;
}

.influ_bg1 {
    background-color: #f2f0e6;
    /*background-color: #aaa;*/
    /*border: 1px solid #aaa;*/
    position: relative;
}

.influ_page_noe {
    position: relative;
    height: 90%;
    width: 100%;
}

.influ_page_noe_text {
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.influ_bg1_content {
    /*position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);*/
    /*overflow: hidden;*/
}

.influ_location {
    height: 100%;
    position: relative;
}

.influ_location>img {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    -o-transform: translateY(-45%);
}

.page_two {
    position: relative;
    /*height: 200%;*/
    width: 100%;
}

.influ_page1 {
    display: inline-block;
    padding: 60px 40px;
    background-color: rgba(255, 255, 255, .6)
}

.influ_bg_shaow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3)
}

.influ_page1>img {
    display: block;
}

.influ_page1>a {
    display: inline-block;
    border-radius: 5px;
    background-color: #c1272d;
    font-weight: bold;
    margin-top: 40px;
    padding: 20px 25px;
    color: #fff;
}

.influ_page1>a:hover {
    text-decoration: none;
}

.influ_page3 {
    /*height: 50%;*/
    margin: 20px 0;
}

.influ_page3_img {
    height: 100%;
    position: relative;
    text-align: center;
}

.influ_page3_img_box {
    position: relative;
    display: inline-block;
}

.influ_page3_img_box>a {
    color: #fff;
    text-decoration: none;
}

.influ_page3_img_link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    padding-top: 60%;
}

.influ_page3_img_box>img {
    cursor: pointer;
}

.influ_page3_img_link:hover {
    opacity: 1;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    -webkit-transition: ease-out .5s;
    transition: ease-out .5s;
}

.influ_video3 {
    position: relative;
    left: 60px;
    top: 50px;
}

.infli_last_text {
    padding-right: 60px;
    padding-left: 150px;
}

.influ_footer {
    margin-top: 100px;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 50px 0;
}

.iflu_page4 {
    position: relative;
    left: -20%;
    top: 20px;
}

.influ_bg1_img_row2 {
    margin-top: 100px;
}

.influ_bg1_img_row1>img {
    width: 100%;
    display: block;
    margin-top: 130px;
    margin-bottom: 100px;
}

.influ_bg1_img_row1>.center {
    margin-bottom: 100px;
}

.influ_bg1_img_row1 h1 {
    display: inline-block;
    /*background-color: rgba(255, 255, 255, 1);*/
    padding: 40px 30px;
    font-weight: bold;
}

.influ_bg1_img_row3 {
    margin-top: 100px;
}

.influ_bg1_img_row1 p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}